<!-- Supported Note Type -->
<div ng-if="vm.noteTypes[vm.note.type]" class="card mb-1 note-container">
	<!-- Action -->
	<div compile="vm.noteTypes[vm.note.type]" class="card-block p-2"></div>

	<!-- Content -->
	<div ng-if="vm.note.data.text" class="card-block p-2 note-content m-2">
		{{vm.note.data.text}}
	</div>
</div>


<!-- Unsupported Note Type -->
<div ng-if="!vm.noteTypes[vm.note.type]" class="card mb-1 note-container">
	<!-- Action -->
	<div class="card-block p-2">
		<em>{{vm.note.type}}</em> is an unknown notification type
	</div>
</div>
