<!-- Header -->
<div class="row">
	<div class="col mb-2">
		<a ui-sref="notifications">< Back</a>
	</div>
</div>

<!-- Content -->
<div class="row">
	<!-- Unread on open -->
	<div class="col-8 my-3">
		Mark notifications read when viewed
	</div>
	<div class="col-4 text-right my-3">
		<input ng-model="vm.settings.readOnView" ng-change="vm.fn.saveSettings()" type="checkbox" id="setting-01" /><label for="setting-01"></label>
	</div>
</div>

<!-- Logout -->
<div class="row">
	<div class="col mt-3 text-right">
		<button type="button" class="btn btn-info btn-sm cursor-pointer" ng-click="vm.fn.logout()">Logout</button>
	</div>
</div>
