<!-- content -->
<div class="row">
	<!-- Menu Container -->
	<div class="col-1">
		<!-- Menu Expansion Container -->
		<div ng-class="{ 'expanded-menu card': vm.expandMenu }" ng-mouseleave="vm.expandMenu = false">
			<!-- Menu Options -->
			<div ng-mouseenter="vm.expandMenu = true" ng-repeat="btn in vm.menu">
				<button ng-click="vm.filter = btn.filter" class="btn btn-sm btn-secondary cursor-pointer mb-1">{{(vm.notes | filter:btn.filter).length}} {{vm.expandMenu ? ' | ' + btn.text : ''}}</button>
			</div>
		</div>
	</div>

	<!-- Notes Container -->
	<div class="col-11 notes-container">
		<!-- A Note -->
		<note ng-repeat="note in vm.notes | filter:vm.filter track by note.id" note="note"></note>

		<!-- No Results -->
		<div class="card text-center" ng-if="!(vm.notes | filter:vm.filter).length">
			<div class="card-block">
				No Results <span class="small">( <span class="btn-link cursor-pointer" ng-click="vm.filter = {}">clear filter</span> )</span>
			</div>
		</div>
	</div>
</div>

<!-- Footer -->
<div class="row mt-2">
	<div class="col text-right">
		<a ui-sref="settings" class="small">Settings</a>
	</div>
</div>
