* { margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:14px; overflow:auto; }
img { border:0; }

#container { width:400px; margin:10px auto 0; text-align:center; }
.button { background:#28739F; padding:3px 5px; cursor:pointer; border-radius:3px; color:#fff; font-weight:bold; margin:5px; text-decoration:none; }
.button:hover { background:#3D94C7; }

#login { margin:20px 0; }
	#login #auth_button { color:#fff; background:#CF4646; display:inline-block; font-weight:bold; padding:3px 5px; border-radius:3px; }
	#login #auth_button:hover { background:#1B7E1E; cursor:pointer; }

#logged_in { display:none; }

.filter { float:left; }
#filter_all { display:none; }
#btn_mark_all { float:right; }

#data { margin:4px auto; height:450px; width:90%; padding:3px; border:1px solid #000; background:#ccc; border-radius:4px; }
	#data .note { border:1px solid #000; border-radius:3px; margin:2px auto; background:#F6F6F6; }
	#data .note.unread { background:#DFEDFF; }
	#data .note:hover { border:1px solid #BEDBFF; }
		#data .message { font-size:13px; padding:3px; overflow:hidden; }
			#data .message .checked { font-style:italic; }
			#data .message a { color:#E35555; font-size:inherit; text-decoration:none; }
				#data .message a:hover { text-decoration:underline; }
			#data .message .user_gone, #data .message .unknown { color:#BBB9B9; font-size:inherit; }
			#data .message .unknown_type,
			#data .message .user,
			#data .message .user_gone,
			#data .message .action,
			#data .message .attached,
			#data .message .checked,
			#data .message .card_name,
			#data .message .text-to,
			#data .message .text-on-board,
			#data .message .text-on-card,
			#data .message .text-in,
			#data .message .list_name,
			#data .message .board_name,
			#data .message .organization,
			#data .message .mention { display:none; font-size:inherit; }
			#data .message .user,
			#data .message .card_name,
			#data .message .organization,
			#data .message .board_name { font-weight:bold; color:inherit; text-decoration:none; }
			#data .message .user:hover,
			#data .message .card_name:hover,
			#data .message .organization:hover,
			#data .message .board_name:hover { text-decoration:underline; }
			#data .message .mention { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; border:1px solid #AAA; border-radius:3px; margin:5px; padding:6px; background:#fff; text-align:left; }
			#data .message .mention .at { padding:2px 4px; border-radius:3px; color:#fff; font-size:inherit; display:inline-block; margin-bottom:1px; }
			#data .message .mention .at.me { background:#28739F; }
			#data .message .mention .at.other { background:#ccc; }
			#data .message .unknown_type { font-size:10px; color:#BBB9B9; }
		#data .info { margin-top:10px; }
		#data .info:hover { cursor:pointer; }
			#data .info .timestamp { float:left; margin:0 0 0 7px; font-size:10px; color:#BBB9B9; }
			#data .info .status { float:right; margin:0 7px 0 0; }
				#data .info .help { margin-right:7px; color:#900; font-size:11px; display:none; }
				#data .info:hover .help { display:inline-block; }
				#data .info .check { width:13px; height:13px; display:inline-block; background:url(../img/unchecked.png); }
				#data .info .marked { background:url(../img/checked.png); }

#footer { overflow:auto; }
	#btn_logout { float:left; }
	#loader { float:left; }
		#loader img { margin-top:7px; position:absolute; display:none; }
	#unread_count { float:right; background:#E35555; cursor:default; }
		#unread_count.zero { background:#038313; }
	#viewing_count { display:inline-block; /*margin-top:15px;*/ font-size:10px; }
		#viewing_count .total { font-size:inherit; }
		#viewing_count .twitter { text-decoration:none; font-size:10px; color:#E35555; }
			#viewing_count .twitter:hover { color:#000; }
